/*___colors___*/

$red: #F87070;
$turquoise: #70F3F8;
$purple: #D881F8;

$marine: #1E213F;
$dark-blue: #161932;
$black: #000000;

$blueish-gray: #d7E0FF;
$light-gray: #EFF1FA;
$gray: #AAAAAA;
$white: #FFFFFF;    

$highlight-blue-primary: #2E325A;
$highlight-blue-secondary: #272C5A;
$downlight-blue-primary: #0E112A;
$downlight-blue-secondary: #121530;
